{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Успех</title>
</head>
<body>

	<div class="container">
		<div class="inner">
            <h2 style="text-align: center;">Ваше сообщение успешно отправлено! 🙂</h2>
		</div>
	</div>

	<script src="https://telegram.org/js/telegram-web-app.js"></script>
	<script src="{% static 'js/app.js' %}"></script>
</body>
</html>